@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
}

span {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 25px;
  color: #333;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 25vw;
  background-color: #3498db;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 3rem;
}


@media screen and (max-width: 1030px) {
  #clock {
    height: 12vh;
    width: 30vw;
    font-size: 2.5rem;
  }
  span {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 770px) {
  #clock {
    height: 10vh;
    width: 40vw;
    font-size: 2rem;
  }
  span {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  #clock {
    height: 8vh;
    width: 50vw;
    font-size: 1.75rem;
  }
  span {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  #clock {
    height: 8vh;
    width: 60vw;
    font-size: 1.5rem;
  }
  span {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
}
