@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  margin-top: 5px;
}

input {
  height: 40px;
  font-size: 24px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #399a3e;
}

.result {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 94, 0);
}

.weight-guide {
  margin-top: 20px;
  text-align: center;
}

.weight-guide h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.weight-guide p {
  padding: 5px;
  font-size: 18px;
  color: #555;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 300px;
    width: 100%;
  }
  .weight-guide p{
    font-size: 14px;
  }
}
